.App {
  text-align: center;
}

.solution {
  font-size: 4rem;
  text-transform: uppercase;
  color: darkred;
}

.solution > .letter {
  margin-right: 0.25em;
}

.letters {
  text-transform: uppercase;
  cursor: pointer;
  font-size: 2rem;
}

.letters-heading {
  margin-top: 2rem;
}

.hint {
  color: grey;
}

.letter {
  display: inline-block; 
}

.letters > .letter {
  border: 1px solid grey;
  border-radius: 0.3rem;
  margin-right: 0.5rem;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
}

.letters > .letter-disabled {
  color: darkgrey;
}

.score {
  border: 1px solid grey;
  border-radius: 0.3rem;
  width: fit-content;
  margin: auto;
  padding: 1rem;
}

.high-score {
  background-color: lightgreen;
}

.medium-score {
  background-color: lightyellow;
}

.low-score {
  background-color: lightcoral;
}

.congrats {
  margin-top: 2rem;
  font-size: 4rem;
  font-weight: bold;
  color: red;
}

.failure {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: darkviolet;
}

.restart {
  margin-top: 2rem;
  font-size: 2rem;
}